/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


/* gruppen cards ansicht */ 
.calendar-card {
    display: flex;
    flex-wrap: wrap;
    z-index: -1;
    background-color: rgb(0, 38, 71); /* set image here*/
    color: white;
    padding: 1rem;
}
.calendar-card .card-header {
    border: none;
    background-color: unset; /*use value from .card*/
    font-weight: bold;
    font-size: larger;
 

}
.calendar-card .card-body {
    padding-top: 0;
    padding-bottom: 0.5rem;
}
.calendar-card .card {
    background-color: rgba(250,250,250,0.3);
}
.cal-day {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 190px;
 margin-top: 2rem;
}
.cal-day .title {
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.cal-day {
    margin-right: 1rem;
}
.cal-day:last-child {
    margin-right: 0;
}

.cal-day .content {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.cal-day .content:last-child {
    margin-bottom: 0;
}
/* break calendar view for smaller screens */
@media only screen and (max-width: 1130px) {
    .cal-day {
        flex-basis: 100%;
    }
}
